* {
  background-color: beige;
  color: black;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body{
  background-color: beige;
}

/* Navbar container */
.navbar {
  background-color: gray;
  font-family: var(--ea-theme-local-nav-shelf-header-font-family);
  overflow: hidden;
  font-family: Arial;
  display: flex;
  gap: 20px;
  box-shadow: 0px 0px 20px 0px red;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Links inside the navbar */
.navbar a {
  background-color: gray;
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1;
}

.navbar img {
  background-color: gray;
  width: 30px;
}

/* The dropdown container */
.dropdown {
  background-color: gray;
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.buttons{
  background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px red;
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: gray;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content:first-child a,
.dropdown-content:last-child a {
  border-radius: 10px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  display: absolute;
  background-color: darkred;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.text {
  width: 100vw;
  height: auto;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text .image-yes {
  width: 100%;
  height: auto;
  z-index: 0;
  max-width: 700px;
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  color: darkred;
}

/* Search pagina*/

.legends li a {
  text-decoration: none;
  margin: 5px;
  transition: transform 0.3s ease;
  color: black;
  font-size: 20px;
}

.legends li a:hover {
  background-color: darkred;
  transform: scale(1.1);
}



.whatsApex p {
  color: black;
}

.hamburger-menu {
  display: none;
}

.buttons {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.verborgen {
  display: none;
}

/* Responsive navigation menu */
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }

  .dropdown {
    float: none;
  }

  .dropdown-content {
    position: absolute;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}